@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Vazirmatn", sans-serif;
  background: #ffffff;
  direction: rtl;
  color: #222;
}

.logo {
  display: block;
  margin: 0 auto 20px;
  max-width: 500px;
}
.catalog {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 35px;
}

.header h1 {
  font-size: 34px;
  color: #0f172a;
  margin-bottom: 10px;
}

.header p {
  color: #666;
  font-size: 17px;
}

.table-wrapper {
  background: #fff;
  border-radius: 18px;
  overflow: auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

table {
  width: 100%;
  min-width: 750px;
  border-collapse: collapse;
}

thead {
  background: #0f766e;
  color: #fff;
}

thead th {
  padding: 18px;
  font-size: 17px;
  font-weight: 600;
}

tbody td {
  padding: 18px;
  text-align: center;
  border-bottom: 1px solid #eee;
  transition: 0.3s;
}

tbody tr:nth-child(even) {
  background: #fafafa;
}

tbody tr:hover {
  background: #e6fffb;
}

tbody td:last-child {
  color: #0f766e;
  font-weight: 700;
}

::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #0f766e;
  border-radius: 20px;
}
.icon {
  width: 35px;
  height: 35px;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 28px;
  }
  .contact-box {
    flex: column;
    gap: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 198px;
  }
  .header p {
    font-size: 15px;
  }

  thead th,
  tbody td {
    padding: 14px;
    font-size: 14px;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
  .rubika {
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .eitaa {
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .contact-btn eitaa {
    width: 65px;
  }
  .contact-btn rubika {
    width: 65px;
  }
  .catalog {
    padding: 10px;
  }

  .header h1 {
    font-size: 24px;
  }

  .contact-box {
    flex: column;
    gap: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .icon {
    width: 18px;
    height: 18px;
  }
  .rubika {
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .eitaa {
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.contact-box {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 25px;
  margin-top: 25px;
}

.contact-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 22px;
  border-radius: 12px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.contact-btn:hover {
  transform: translateY(-3px);
}

.phone {
  background: #0f766e;
}

.rubika {
  background: #0077ff;
}

.eitaa {
  background: #f59e0b;
}
